
////////////////////////////////////////////////////////////////////////////////
// FOOTER
////////////////////////////////////////////////////////////////////////////////

@import 'colors';

.footer {
  background: #000000;
  color: #FFFFFF;
  min-height: 450px;
  padding-bottom: 75px;
  text-align: center;
  z-index: 5000;

  .actions {
    margin-top: 35px;

    .btn-block {
      background: $pf-red-200;
      border-radius: 10px;
      color: #FFFFFF;
      cursor: pointer;
      font-size: 16px;
      margin: 25px auto;
      padding: 10px 0;
      width: 40%;
    }
  }

  .fa {
    font-size: 40px;
    padding: 5px;
  }

  .rh-logo {
    padding: 35px 0 15px;
  }
}

