
////////////////////////////////////////////////////////////////////////////////
// HERO
////////////////////////////////////////////////////////////////////////////////

@import 'colors';

.hero {
  background: $pf-blue-400;
  color: #FFFFFF;
  min-height: 600px;
  padding: 150px 25px;
  text-align: center;
  text-shadow: 0 2px 0 rgba(0,0,0,.25);
  z-index: 4000;

  h1 {
    font-weight: 200;
  }

  p {
    margin: 0;
    font-size: 18px;
    font-weight: 100;

    &:first-of-type {
      font-size: 20px;
      font-weight: 400;
    }
  }

  .actions {
    margin-top: 25px;
    text-shadow: none;

    .btn {
      background-color: #FFFFFF;
      border-radius: 10px;
      color: $pf-blue-400;
      padding: 10px 15px;
      margin: 10px 0;
    }

    .btn:hover {
      background-color: $pf-blue-200;
      color: #FFFFFF;
    }
  }

  .title {
    color: $pf-blue-100;
  }
}

