
////////////////////////////////////////////////////////////////////////////////
// PRE-CONTENT
////////////////////////////////////////////////////////////////////////////////

@import 'colors';

.pre-content {
  background: $pf-blue-300;
  color: #FFFFFF;
  margin: -10px -20px 0;
  padding: 30px 100px 40px;
  text-align: center;
  text-shadow: 0 2px 0 rgba(0,0,0,.25);
}

.header {
  background: $pf-blue-300;
  color: #FFFFFF;
  cursor: default;
  margin: 45px -20px 0;
  padding: 10px 25px;
  font-size: 14px;

  .title {
    float: left;
  }
}
