
////////////////////////////////////////////////////////////////////////////////
// PRE-CONTENT
////////////////////////////////////////////////////////////////////////////////

@import 'colors';

.pre-content {
  background: $pf-blue-300;
  color: #FFFFFF;
  margin: 0 -20px 0;
  padding: 40px 100px;
  text-align: center;
}
