////////////////////////////////////////////////////////////////////////////////
// INDEX/MAIN LAYOUT
////////////////////////////////////////////////////////////////////////////////

@import '../colors';
@import '../fonts';
@import '../variables';

body.index {
  .content {
    padding: 25px 25px 0;
    margin-bottom: 100px;

    h2 {
      @extend %header-font;
      border-top: none;
      background-image: none;
      font-size: 20px !important;
      margin-top: 0;
      padding: 60px 0 5px;
      text-align: left;
    }

    h2:first-child {
      padding-top: 20px;
    }

    p {
      line-height: 1.4;
      margin: 0;
      padding: 5px 0 0 0;
    }
  }
}
